<h2><%=display_field(@obj, :title)%></h2>
<%=display_field(@obj, :body)%>
<ul>
<% @obj.toclist.each do |entry|%>
<li>
<%= display_field(@obj, :valid_from)%>
<%= link_to display_field(entry, :title), cms_path(entry)%>
</li>
<% end%>
</ul>

<% if Rails.env == "preview"%>
<p> <a href="#" id="isMemberOfAdmins">
   test if admin
</a>
<p>
<a href="#" id="isMemeofEdit">
  edit grop
</a>
<a href="#" is="isGloabl">
gloabl grou
</a>
</p>
</p>
<% end %>
